table{
  width:100;
}

.toolbar-container {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-title {
  color: white;
  margin-left: 10px;
}

.toolbar-search {
  flex: 1; /* Ocupa todo el espacio disponible excepto el botón */
  margin-right: 8px; /* Agrega espacio a la derecha del filtro */
}

mat-form-field {
  margin-top: 0;
  background: primary;
  border-radius: 4px;
}

input::placeholder {
  opacity: 1;
  font-style: italic;
}

mat-icon {
  margin-right: 10px;
}

.btnEdit, .btnDelete, .btnView{
  cursor: pointer;
}

.btnEdit{
  color: #bafc64;
}

.btnDelete{
  color: #ee5f5f;
}

.btnView{
  color: #838fff;
}


.filter-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #333;
}

.add-button {
  flex-basis: auto;
  white-space: nowrap;
  margin-left: 2px;
}


mat-form-field.mat-form-field {
  height: 100%;
}


mat-form-field.mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  height: auto;
}


mat-form-field.mat-form-field .mat-form-field-infix {
  border-top: none;
}
