table {
  width: 100%;
}

mat-form-field {
  font-size: 14px;
  width: 90%;
  margin-right: 10px;
}

td,
th {
  width: 25%;
}

.btnEdit,
.btnDelete,
.btnVisibility {
  cursor: pointer;
}

.btnVisibility {
  color: #fa95fa;
}

.btnEdit {
  color: #7e9df5;
}

.btnDelete {
  color: #f55c47;
}
