h3 {
  align-self: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 0px 5px;
}

text{
  color: white;
  }

body{
  background-color: white;
  }

.select-container mat-form-field + mat-form-field {
    margin-left: 20px;
  }

mat-form-field{
    margin-left: 20px;
    width: 245px;
  }

.select-container mat-form-field mat-hint {
    color: rgb(250, 242, 242);
  }

.title-container mat-form-field{
    width: 510px;
  }

mat-form-field textarea{
    height: 150px;
  }

.selectDev-container mat-form-field {
    margin-left: 20px;
    margin-top: 10px;
    width: 510px;
  }

.selectDev-container mat-form-field mat-hint {
    color: rgb(250, 242, 242);
  }
