.container {
  font-family: "Arial", sans-serif;
}

.sprint-container {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.sprint-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sprint-header h3 {
  margin: 0;
  color: black;
}

.sprint-dates {
  background-color: #e9e9e9;
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
}

.sprint-points {
  display: flex;
  gap: 10px;
}

.point-badge {
  background-color: #4caf50; /* Color de fondo verde */
  color: white; /* Color del texto */
  border-radius: 50%; /* Borde redondo */
  width: 40px; /* Ancho fijo */
  height: 40px; /* Altura fija */
  display: flex;
  align-items: center; /* Alinea verticalmente el texto */
  justify-content: center; /* Alinea horizontalmente el texto */
  font-weight: bold; /* Fuente en negrita */
}

/* Puedes personalizar cada tipo de punto con diferentes colores de fondo */
.sprint-committed {
  background-color: #73b8f0;
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
}

.sprint-fulfilled {
  background-color: #7ae07d; /* Verde para fulfilled */
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
}

.sprint-noFulfilled {
  background-color: #f5c6c3; /* Rojo para no fulfilled */
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
}

.sprint-sprintstatus{
  background-color: #e9e9e9;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.task-done {
  background-color: #65ec85;
}

.new-task-button {
  background-color: #ddd;
  color: black;
  border: none;
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.new-task-button:hover {
  background-color: #c6ccd3;
  color: white;
}

.high-priority{
  color: #eb2929;
}

.medium-priority{
  color: #fdc200;
}

.low-priority{
  color: #81b81c;
}

.points-styling{
  background-color: #c6ccd3;
  color: black;
  padding: 5px 9px;
  width: 27px;
  border-radius: 15px;
}
.insight-points{
  color: black;
}
.hidden {
  display: none;
}

.task-finalizada,
.subtask-finalizada {
  padding: 5px 9px;
  width: 90px;
  background-color: #81b81c;
  border-radius: 15px;
}

.task-avanzada,
.subtask-avanzada {
  padding: 5px 9px;
  width: 90px;
  background-color: #73b8f0;
  border-radius: 15px;
}

.task-por-hacer,
.subtask-por-hacer {
  padding: 5px 9px;
  width: 90px;
  background-color: #f5c6c3;
  border-radius: 15px;
}

