<nav class="navbar">
  <button (click)="drawer.toggle()" mat-icon-button style="color: black">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar-brand" href="/">
    <img src="favicon.ico" width="30" height="30" alt="" />
    SKAM
  </a>

  <div class="navbar-menu">
    <div class="nav-item" (click)="toggleDropdown()">
      <a class="dropdown-toggle">Crear</a>
      <ul class="dropdown-menu" [class.show]="dropdownOpen">
        <li><a (click)="navigate('/create-update-sprint')">Sprint</a></li>
        <li><a (click)="navigate('/create-update-task')">Task</a></li>
        <li><a (click)="navigate('/create-update-subtask')">Subtask</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="nav-item" (click)="toggleDropdownTwo()">
      <a class="dropdown-toggle">Ver</a>
      <ul class="dropdown-menu" [class.show]="dropdownOpenTwo">
        <li><a (click)="navigate('/list-subtask')">Subtasks</a></li>
        <li><a (click)="navigate('/list-task')">Tasks</a></li>
        <li><a (click)="navigate('/list-sprint')">Sprints</a></li>
      </ul>
    </div>
  </div>
  <!--TODO: borrae subtask cuando ya este ready-->
  <div class="nav-item" (click)="navigate('/list-users')">Equipo</div>
  <div class="nav-item" (click)="navigate('/x')">Incidencias</div>
  <div class="nav-item" (click)="navigate('/index')">Sobre nosotros</div>
  <button class="btn-logout" (click)="logout()">Logout</button>
</nav>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="false" mode="side">
    <mat-nav-list>
      <mat-list-item (click)="navigate('/backlog')">
        <button mat-button>Backlog</button>
      </mat-list-item>
      <mat-list-item (click)="navigate('/sprint-active')">
        <button mat-button>Sprint-active</button>
      </mat-list-item>
      <mat-list-item (click)="navigate('/dashboard')">
        <button mat-button>Dashboard</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center; min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
