<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/index">KS</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Crear
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/create-update-sprint">Sprint</a>
          <a class="dropdown-item" routerLink="/create-update-task">task</a>
        </div>
      </li>
    </ul>

    <button class="btn btn-outline-success" type="button" routerLink="/Login">
      Logout
    </button>
  </div>
</nav>
