<nav class="navbar">
  <a class="navbar-brand" href="/">
    <img src="favicon.ico" width="30" height="30" alt="" />
    SKAM
  </a>

  <div class="navbar-menu">
    <div class="nav-item" (click)="toggleDropdown()">
      <a class="dropdown-toggle">Crear</a>
      <ul class="dropdown-menu" [class.show]="dropdownOpen">
        <li><a (click)="navigate('/create-update-sprint')">Sprint</a></li>
        <li><a (click)="navigate('/create-update-task')">Task</a></li>
        <li><a (click)="navigate('/create-update-subtask')">Subtask</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="nav-item" (click)="toggleDropdownTwo()">
      <a class="dropdown-toggle">Ver</a>
      <ul class="dropdown-menu" [class.show]="dropdownOpenTwo">
        <li><a (click)="navigate('/list-subtask')">Subtasks</a></li>
        <li><a (click)="navigate('/list-task')">Tasks</a></li>
        <li><a (click)="navigate('/list-sprint')">Sprints</a></li>
      </ul>
    </div>
  </div>
  <!--TODO: borrae subtask cuando ya este ready-->
  <div class="nav-item" (click)="navigate('/list-users')">Equipo</div>
  <div class="nav-item" (click)="navigate('/x')">Incidencias</div>
  <div class="nav-item" (click)="navigate('/index')">Sobre nosotros</div>
  <button class="btn-logout" (click)="logout()">Logout</button>
</nav>
