.navbar {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos al inicio */
  align-items: center;
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  font-size: 1.25rem;
  font-family: cursive;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.nav-item {
  position: relative;
  margin-right: 15px;
  font-size: 1.25rem;
}

.dropdown-toggle {
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  color: #333;
  text-decoration: none;
  font-size: 1.25rem;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  color: #333;
  text-decoration: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.auth-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.btn-logout {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  margin-left: 10px;
  line-height: 1.5;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-logout:hover {
  color: #000;
  background-color: #CCEC5F;
}

.btn-login {
  border: 1px solid #CCEC5F;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 10px;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #CCEC5F;
  color: #000;
}

.btn-signin {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 10px;
}



