.container {
  font-family: "Arial", sans-serif;
}

.sprint-container {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.sprint-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sprint-header h3 {
  margin: 0;
}

.sprint-dates {
  background-color: #e9e9e9;
  padding: 5px 10px;
  border-radius: 15px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.task-done {
  background-color: #d4edda;
}

/* Agrega aquí más estilos según sea necesario */
