<div class="login">
  <div class="form">
    <h2>Login</h2>
    <form (submit)="logIn()">
      <input
        type="text"
        [(ngModel)]="login"
        id="login"
        name="login"
        placeholder="Usuario o email"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        id="password"
        name="password"
        placeholder="Contraseña"
        required
      />
      <input type="submit" value="Aceptar" class="submit" />
      <p>¿No tienes cuenta? <a routerLink="/signIn">Registrar</a></p>
    </form>
  </div>
</div>
