* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.login {
  width: 320px;
  height: 450px;
  border: 1px solid #0c0c0c;
  background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center
    center no-repeat;
  background-size: cover;
  margin: 30px auto;
  border-radius: 20px;
}
.login .body {
  background: linear-gradient(135deg, #640447 0%, #764ba2 100%);
}
.login .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}
.login .form h2 {
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 90px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.login .form input,
.login .form button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  align-self: center;
}
.login .form input:focus,
.login .form button:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
}
::-webkit-input-placeholder,
::-webkit-button-placeholder {
  color: #ddd;
}
.login .form input.submit,
.login .form button.submit {
  background: rgba(255, 255, 255, 0.9);
  color: #444;
  font-size: 15px;
  font-weight: bold;
}

.login .form p {
  color: #fff;
  text-align: center;
  font-weight: normal;
}

.login .form a {
  color: #ff7ea8;
}

.icon-small {
  width: 24px;
  height: 24px;
}

