<div class="wrapper">
  <div class="login-container">
    <img class="logo" src="../../assets/icons/usuario.png" alt="User Login Logo" />
    <h1>Login</h1>
    <form action="/your-login-endpoint" method="post">
      <div class="form-group mb-3">
        <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" required />
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required />
      </div>
      <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-primary btn-lg" routerLink="/dashboard">Aceptar</button>
      </div>
      <div class="text-center">
        <p>¿No tienes cuenta? <a routerLink="/signIn">Registrar</a></p>
      </div>
    </form>
  </div>
</div>


