html,
body {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px; /* You can adjust this as needed */
  background-color: #f5f5f5;
}

.login-container {
  width: 100%; /* Or you can set a max-width */
  max-width: 330px; /* Adjust as needed for your design */
  padding: 15px;
  margin: auto;
}

.logo {
  display: block; /* Ensure the logo is a block element for proper spacing */
  margin: 0 auto 10px auto; /* Center the logo and add margin at the bottom */
  height: 100px; /* Adjust as needed */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px; /* Adjust the spacing between form elements */
}

.btn-lg {
  padding: 10px 0; /* Larger padding for a bigger button */
}

.text-center {
  text-align: center; /* Center the text for the registration link */
}

