<h2 mat-dialog-title>Agregar Tarea</h2>
<div class="title-container">
  <mat-form-field appearance="fill">
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Ingrese el titulo" autocomplete="off">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea matInput placeholder="Ingrese la descripción" autocomplete="off"></textarea>
  </mat-form-field>
</div>
<div class="select-container">
  <mat-form-field>
    <mat-label>Selecciona sprint</mat-label>
    <mat-select>
      <mat-option *ngFor="let sprint of sprints" [value]="sprint.title">{{sprint.title}}</mat-option>
    </mat-select>
    <mat-hint align="end">Estos son los sprints existentes^</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Selecciona estado</mat-label>
    <mat-select>
      <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
    </mat-select>
    <mat-hint align="end">Estados de la tarea^</mat-hint>
  </mat-form-field>
</div>
<div class="select-container">
  <mat-form-field>
    <mat-label>Selecciona puntos</mat-label>
    <mat-select>
      <mat-option *ngFor="let points of pointss" [value]="points">{{points}}</mat-option>
    </mat-select>
    <mat-hint align="end">Estos son los sprints existentes^</mat-hint>
  </mat-form-field>
  <mat-form-field>
      <mat-label>Selecciona Desarrollador</mat-label>
      <mat-select>
        <mat-option *ngFor="let user of users" [value]="user.fullname">{{user.fullname}}</mat-option>
      </mat-select>
      <mat-hint align="end">Todos los desarroladores^</mat-hint>
  </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button (click)="cancelar()" mat-button>Cancelar</button>
  <button mat-button cdkFocusInitial (click)="addTask()">Aceptar</button>
</mat-dialog-actions>
<!--
export interface Task {
  idtask: number;
  idsprint: number;
  title: string;
  description: string;
  status: status;
  points: points;
  assignedUser?: string;
}
-->
