<h2 mat-dialog-title>Agregar Task</h2>
<!--<mat-dialog-content class="mat-typography">

  <div class="column">
    <mat-form-field appearance="fill">
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="Ingresa el titulo" minlength="5" autocomplete="off" required="title">
    </mat-form-field>
  </div>

  <div class="column">
    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="Ingresa la descripción" minlength="5" autocomplete="off" required="description">
    </mat-form-field>
  </div>

  <div class="row">
    <div class="column">
      <mat-form-field appearance="fill">
        <mat-label>Puntos</mat-label>
        <mat-select [(ngModel)]="selectedValuePoints" name="points">
          <mat-option *ngFor="let point of pointOptions" [value]="point.value">
          {{ point.viewValue }}
        </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="selectedValueStatus" name="status">
            <mat-option *ngFor="let status of statusOptions" [value]="status.value">
            {{ status.viewValue }}
          </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
  </div>

  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button cdkFocusInitial>Agregar</button>
</mat-dialog-actions>

-->
