<h2 mat-dialog-title>Predicciones:</h2>
<!--

<div *ngIf="prediction;">
  <div *ngIf="barChartData.length > 0; else noData">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions">
    </canvas>
  </div>

  <ng-template #noData>
    <p>No hay datos de predicción disponibles.</p>
  </ng-template>
</div>

-->

<div>Predicción: {{ prediction }}</div>

<mat-dialog-actions align="end">
  <button type="button" (click)="cancelar()" mat-button>Cerrar</button>
</mat-dialog-actions>
